MYSQL_DATABASE=library_system
MYSQL_ROOT_PASSWORD=change-this-root-password
MYSQL_USER=library_app
MYSQL_PASSWORD=change-this-app-password
MYSQL_PORT=3306
APP_PORT=8080
JPA_DDL_AUTO=update
LIBRARY_DEFAULT_ADMIN_PASSWORD=change-this-admin-password
LIBRARY_DEFAULT_READER_PASSWORD=change-this-reader-password
